@using ViewModels;
@model EnrollListViewModel


@{
    ViewBag.Title = "Enrollment Index";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>No.</th>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Year</th>
        <th>Semester</th>
        <th></th>
    </tr>
    @{ int i = 0;}
    @foreach (EnrollViewModel item in Model.EnrollVMs)
    {
        i++;
        <tr>
            <td>@i</td>
            <td>@item.StuId</td>
            <td>@item.StuName</td>
            <td>@item.CourseCode</td>
            <td>@item.CourseName</td>
            <td>@item.Year</td>
            <td>@item.Semester</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>

