@using ViewModels;
@model StudentListViewModel


@{
    ViewBag.Title = "Student Index";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>No.</th>
        <th>Student ID</th>
        <th>Student Name</th>
        <th></th>
    </tr>
    @{ int i = 0;}
    @foreach (StudentViewModel item in Model.Students)
    {
        i++;
<tr>
    <td>@i</td>
    <td>@item.StuId</td>
    <td>@item.StuName</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }
</table>

